@keyframes abx {
    0% { background-position: 0 0; }
    100% { background-position: 240px 0; }
}

@keyframes aby {
    0% { background-position: 0 0; }
    100% { background-position: 0 240px; }
}

.page {
	overflow: hidden;
}

.page.modal-open {
    position: fixed;
    width: 100%;
}

.layout-wrapper {
	min-height: 100%;
}

.layout-header {}
.layout-header__wrapper {}

.layout-wrapper__container {
	min-height: 100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: stretch;
	align-items: stretch;
	justify-content: space-between;
}

.sidebar {
	width: 230px;
	flex: 0 0 230px;
	height: 100vh;
	overflow: hidden;
	background-color: #f3f3f3;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.sidebar__scroll {
	width: 250px;
	height: 100vh;
	padding: 20px 40px 20px 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-y: -moz-scrollbars-none;
    overflow-style: none;

    &::-webkit-scrollbar {
        width: 0;
    }
}

.container {
	flex: 0 0 calc(100% - 230px);
}

.header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	padding: 0 30px;
	border-bottom: 1px solid rgba(0,0,0,.15);
}

.header__event {
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1;
}

.logo {
	display: block;
	font-size: 0;
	max-width: 100px;
	max-height: 43px;
}

.logo img {
	max-width: 100%;
    max-height: 43px;
	height: auto;
}

.content {
	padding: 20px 30px;
}

.video-gif {
	width: 100%;
	overflow: hidden;
	position: relative;
	background-color: #000;
	text-align: center;
}

.video-gif__image {
	max-width: 100%;
	margin: auto;
	/*
	object-fit: cover;
	object-position: 50% 50%;*/
}

.video-js,
.video-gif {
	width: 100%;
	outline: 0;
	height: calc(100vh - 170px);
	margin-bottom: 20px;
}

.video-item {
	width: 100%;
	overflow: hidden;
	font-size: 0;
	border: 0;
	outline: 0;
	display: block;
	cursor: pointer;
	padding: 0;
	position: relative;
	background-color: #fff;
	border: 1px solid #d0d0d0;
	-webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	-o-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.video-item:before {
	content: '';
	display: block;
	padding-bottom: 66.489361702%;
}

.video-item:not(:last-child) {
	margin-bottom: 20px;
}

.video-item.is-active {
	border-color: #f2d800;
	box-shadow: 0 0 0 4px #fceb58;
}

.video-item__image {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	max-width: 100%;
	height: auto;
}

.video-item__name {
	display: none;
	font-size: 11px;
	line-height: 1;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	padding: 10px;
	text-align: left;
	background-color: rgba(0,0,0,.3);
}

.button {
	color: #fff;
	border: 0;
	outline: 0;
	cursor: pointer;
	font-size: 16px;
	text-align: center;
	font-weight: 500;
	padding: 15px 35px;
	display: inline-block;
	border-radius: 40px;
}

.button-reset {
	color: #222;
	border: 0;
	outline: 0;
	cursor: pointer;
	font-size: 14px;
	line-height: 1;
	text-align: center;
	font-weight: 500;
	padding: 0;
	display: inline-block;
	background: none;
}

.button-reset__underline {
	pointer-events: none;
	padding-bottom: 1px;
	border-bottom: 1px solid;
}

.button-submit {
	color: #073305;
	border: 0;
	outline: 0;
	cursor: pointer;
	font-size: 14px;
	line-height: 1;
	text-align: center;
	font-weight: 500;
	padding: 15px 40px;
    letter-spacing: 0.02ex;
	display: inline-block;
    text-transform: uppercase;
	background-color: #1CE848;
}

.popup-mesage {
	width: 360px;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 1000;
	outline: 0;
	color: #323232;
	background-color: #fff;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	-o-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, .2);
}

.popup-mesage__close {
    width: 32px;
    height: 32px;
    padding: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
    background: none;
    position: absolute;
    right: -15px;
    top: -15px;
    background: #fff;
    border-radius: 50%;
}

.popup-mesage__close:before,
.popup-mesage__close:after {
	content: '';
	position: absolute;
	height: 2px;
	width: 16px;
	top: 50%;
	left: 50%;
    margin-left: -8px;
	margin-top: -1px;
	background: #000;
}

.popup-mesage__close:before {
	transform: rotate(45deg);
}

.popup-mesage__close:after {
    transform: rotate(-45deg);
}

.popup-mesage__header {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	padding: 30px 25px;
    text-align: center;
    text-transform: uppercase;
	background-color: #ddd;
}

.popup-mesage__header--success {
	color: #045f31;
	background-color: #39ea92;
}

.popup-mesage__header--failure {
	background-color: #ff5252;
}

.popup-mesage__body {
	padding: 30px 25px;
	font-size: 20px;
	font-weight: 400;
    text-align: center;
}

.modal {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
    margin: 0;
	color: #323232;
    z-index: 9999;
    padding: 30px;
    overflow-y: auto;
    opacity: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
    transform: translate3d(0, 0, 0);
	background-color: rgba(0,0,0,.6);
    transition: opacity .4s ease-in-out, transform .5s ease;
    will-change: transform, opacity;
}

.modal__dialog__content {
	width: 100%;
	height: 100%;
}

.modal__dialog--preload.is-busy:after,
.modal__dialog--preload.is-busy:before {
    width: 100%;
    height: 3px;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    background-image: -webkit-linear-gradient(left, #4c8aff 60%, #fff 0%);
    background-image: -o-linear-gradient(left, #4c8aff 60%, #fff 0%);
    background-image: linear-gradient(to right, #4c8aff 60%, #fff 0%);
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 12px 3px;
    transition: all .15s ease-in-out;
}

.modal__dialog--preload.is-busy:after,
.modal__dialog--preload.is-busy:before {
    animation: abx 10s linear infinite;
}

.modal__dialog--preload.is-busy:after {
    top: 0;
}

.modal__dialog--preload.is-busy:before {
    bottom: 0;
}

.modal__dialog--preload.is-busy .modal__dialog__content:after,
.modal__dialog--preload.is-busy .modal__dialog__content:before {
    width: 3px;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    background-image: -webkit-linear-gradient(#4c8aff 60%, #fff 0%);
    background-image: -o-linear-gradient(#4c8aff 60%, #fff 0%);
    background-image: linear-gradient(#4c8aff 60%, #fff 0%);
    background-position: right;
    background-size: 3px 12px;
    background-repeat: repeat-y;
    transition: all .15s ease-in-out;
}

.modal__dialog--preload.is-busy .modal__dialog__content:after,
.modal__dialog--preload.is-busy .modal__dialog__content:before {
    animation: aby 10s linear infinite;
}

.modal__dialog--preload.is-busy .modal__dialog__content:after {
    left: 0;
}

.modal__dialog--preload.is-busy .modal__dialog__content:before {
    right: 0;
}

.modal__dialog--preload.is-busy[disabled] .modal__dialog__content:after,
.modal__dialog--preload.is-busy[disabled] .modal__dialog__content:before {
    background-image: -webkit-linear-gradient(#d5d5d5 60%, #fff 0%);
    background-image: -o-linear-gradient(#d5d5d5 60%, #fff 0%);
    background-image: linear-gradient(#d5d5d5 60%, #fff 0%);
}

.modal.is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.modal.is-animated {
	opacity: 1;
    transform: translate3d(0, 0, 0);
}

.modal.is-open {}

.modal__dialog {
	width: 100%;
	max-width: 640px;
	position: relative;
	background-color: #fff;
}

.modal__dialog.is-busy {
	opacity: .8;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	pointer-events: none;
}

.modal__close {
	width: 18px;
	height: 18px;
	padding: 0;
	border: 0;
	outline: 0;
	cursor: pointer;
	background: none;
	position: absolute;
	right: 17px;
	top: 20px;
}

.modal__close:before,
.modal__close:after {
	content: '';
	position: absolute;
	height: 2px;
	width: 16px;
	top: 50%;
	left: 0;
	margin-top: -1px;
	background: #000;
}

.modal__close:before {
	transform: rotate(45deg);
}

.modal__close:after {
    transform: rotate(-45deg);
}

.modal__header {
	padding: 20px 25px;
	background-color: #eaeae8;
	border-bottom: 1px solid #ddd;
}

.modal__title {
	font-size: 16px;
	line-height: 1;
	font-weight: 600;
    padding-top: 3px;
	text-transform: uppercase;
}

.modal__body {
	padding: 20px 25px;
}

.modal__footer {
	font-size: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	padding: 20px 25px;
	background-color: #f5f5f5;
	border-top: 1px solid #eaeae8;
}
